* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
}

.post__btns {
  display: flex;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
}

.page {
  border: 2px solid black;
  margin-right: 5px;
  padding: 10px;
}

.current__page {
  border: 2px solid rgb(230, 10, 10);
  font-weight: bold;
}

.navbar {
  background-color: rgb(169, 150, 150);
  height: 50px;
  width: 60%;
  border-radius: 5px;
  padding: 10px;
}

.navbar__links {
  text-decoration: none;
  color: white;
}

.navbar__link {
  text-decoration: none;
  color: rgb(245, 245, 242);
  margin-right: 15px;
  font-size: 20px;
}
